:root {
  /* font */
  --font-family: "SF Pro Display", sans-serif;
  --second-family: "Inter", sans-serif;
  /* color */
  --main-color: #e5e5e5;
  --second--color: #fff;
  --button-color: #0a84ff;
  /* bg color */
  --page-bg-color: #1e1e1e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--main-color);
  background-color: var(--page-bg-color);
}

.section {
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    margin-bottom: 120px;
  }
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--second--color);
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 21px;
    padding-right: 21px;
    width: 720px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
    width: 1440px;
  }
}

.logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .logo {
    margin-bottom: 54px;
  }
}

.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.full-screen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-language {
  margin-top: 105px;
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-navigation__list {
  margin-bottom: 70px;
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 38px;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.mobile__donat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__button {
  margin-bottom: 80px;
  margin-right: 0;
}

.mobile__donat .header__button {
  margin-right: 0;
}

.mobile-social {
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ============================== */
/* Buttons */
/* =============================== */
/* Header button */
.header__button {
  position: relative;
  padding: 15px 44px;
  display: inline-block;
  margin-right: 95px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .header__button {
    padding: 10px 23px;
  }
}
.header__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 39px;
  height: 39px;
  background-color: #0a84ff;
  background-image: url("../img/donat__ico.svg");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .header__button::after {
    width: 50px;
    height: 50px;
    background-size: 21px;
  }
}
.header__button:hover, .header__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}
.header__button:hover::after {
  background-color: var(--second--color);
}

/* Support button */
.support__button {
  position: relative;
  padding: 15px 40px;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .support__button {
    padding: 20px 50px;
    font-size: 18px;
  }
}
.support__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #0a84ff;
  background-image: url("../img/support__ico.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .support__button::after {
    width: 63px;
    height: 63px;
    background-size: 25px;
  }
}
.support__button:hover, .support__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}
.support__button:hover::after {
  background-color: var(--second--color);
}

/* Send button */
.send__button {
  position: relative;
  padding: 15px 40px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .send__button {
    padding: 20px 50px;
    font-size: 18px;
  }
}
.send__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #0a84ff;
  background-image: url("../img/send__ico.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .send__button::after {
    width: 63px;
    height: 63px;
    background-size: 25px;
  }
}
.send__button:hover, .send__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}
.send__button:hover::after {
  background-color: var(--second--color);
}

/* Donat button */
.donat__button {
  position: relative;
  padding: 20px 50px;
  display: inline-block;
  width: 83%;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.donat__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url("../img/support__ico.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.donat__button:hover, .donat__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
  cursor: pointer;
}
.donat__button:hover::after {
  background-color: var(--second--color);
  border: 1px solid var(--button-color);
}

/* Back button */
.back__button {
  margin-right: 65px;
  position: relative;
  padding: 20px 50px;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url("../img/back__ico.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-transform: translate(110%, -50%);
          transform: translate(110%, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back__button:hover, .back__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}
.back__button:hover::after {
  background-color: var(--second--color);
}

/* More link */
.more__link {
  position: relative;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.more__link:hover, .more__link:focus {
  color: var(--button-color);
}
.more__link::after {
  content: "";
  position: absolute;
  left: 110%;
  top: 15%;
  width: 10px;
  height: 10px;
  background-image: url("../img/linc__ico.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Donat buttons */
.donation-amounts {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donut-button {
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(13, 13, 13, 0.5);
  border-radius: 25px;
  border: 1px solid rgba(13, 13, 13, 0.5);
  outline: transparent;
  background-color: transparent;
}

.donut-button:hover {
  color: var(--main-color);
  background-color: #0d0d0d;
  cursor: pointer;
}

.donut-uah {
  font-size: 15px;
}

.socilal__item {
  border: 1px solid rgba(229, 229, 229, 0.1);
  border-radius: 5px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(229, 229, 229, 0.1);
}

.social__link {
  fill: var(--main-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  fill: #0a84ff;
}

/* =============================== */
/* Modal window */
/* =============================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(13, 13, 13, 0.6);
}
.modal-content {
  position: relative;
  margin: 15% auto;
  padding-left: 60px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 423px;
  height: 298px;
  border-radius: 10px;
  border: 1px solid #888;
  background-color: #171717;
}
.modal__pic {
  margin-top: 60px;
  margin-bottom: 34px;
  display: block;
  width: 61px;
  height: 61px;
  background-color: #0a84ff;
  background-image: url("../img/donat__ico.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.modal__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #e5e5e5;
}
.modal__text {
  display: block;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #e5e5e5;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 8px;
  color: #aaa;
  font-size: 35px;
}
.close-btn:hover, .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.language-switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language__item:not(:last-child) {
  margin-right: 8px;
}

.language__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
}
.language__link:hover, .language__link:focus, .language__link--active {
  color: var(--second--color);
}

.dark__word {
  color: rgba(229, 229, 229, 0.5);
}

.trident {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: var(--second--color);
  background-image: url("../img/trident__symbol.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}
@media screen and (min-width: 1440px) {
  .trident {
    width: 56px;
    height: 56px;
    border-radius: 11px;
    background-size: 23px;
  }
}

.corner {
  position: absolute;
  right: -26px;
  top: 264px;
  width: 116px;
  height: 257px;
  background: #171717;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.news-corner {
  position: absolute;
  right: -26px;
  bottom: -127px;
  width: 116px;
  height: 257px;
  background: #171717;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* Donat Form */
.form__donation {
  margin-bottom: 40px;
  position: static;
}
@media screen and (min-width: 1440px) {
  .form__donation {
    position: absolute;
    top: 0;
    right: 0;
    width: 411px;
  }
}

.collected {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 30px 16px 30px;
  width: 411px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background-color: #0d0d0d;
}
.collected__title {
  display: inline-block;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--main-color);
}
.collected__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: var(--main-color);
}
.collected__fire {
  margin-right: 10px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background-color: var(--second--color);
  background-image: url("../img/fire.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.slider-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}
.slider-navigation__link:hover {
  color: var(--second--color);
}
.slider-navigation__icon {
  fill: currentColor;
}

.donation__form {
  padding: 30px;
  display: block;
  width: 410px;
  height: 327px;
  background-color: var(--main-color);
  border-radius: 10px;
}

.donation__label {
  margin-bottom: 40px;
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #0d0d0d;
}

.input-group {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(13, 13, 13, 0.2);
}

.donation__input {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  line-height: 130%;
  color: #0d0d0d;
}

.currency-select {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: transparent;
  border: none;
}

.currency-select--option {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: transparent;
  border: none;
}

/* ==================================== */
/* Header */
/* ==================================== */
.header {
  padding-top: 29px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: block;
  margin-right: 126px;
}
.header__other {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.logo__icon {
  width: 166px;
  height: 34px;
  fill: var(--second--color);
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 200px;
    height: 40px;
  }
}

/* navigation */
.navigation__list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 38px;
}

.navigation__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link__link:hover, .navigation__link__link:focus {
  opacity: 1;
}

.menu-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: block;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover {
  color: #0a84ff;
}

.menu__icon {
  fill: currentColor;
}

/* =============================== */
/* Hero */
/* =============================== */
.hero {
  padding-top: 32px;
  background-image: url("../img/hero/hero__bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 140px;
  }
}
.hero__container {
  position: relative;
}
.hero__supertitle {
  margin-bottom: 12px;
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);
}
@media screen and (min-width: 1440px) {
  .hero__supertitle {
    font-size: 16px;
  }
}
.hero__title {
  margin-bottom: 370px;
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 246px;
    width: 960px;
    font-size: 80px;
  }
}
.hero__social {
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero__social {
    position: absolute;
    right: 0;
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}
.hero__activity {
  position: absolute;
  bottom: 170px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: rgba(229, 229, 229, 0.05);
  border: 1px dashed #e5e5e5;
}
@media screen and (min-width: 1440px) {
  .hero__activity {
    bottom: 44px;
  }
}
.hero__button {
  margin-bottom: 44px;
}

.activity__icon {
  margin-bottom: 32px;
}

.activity__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}
.activity__item:not(:last-child) {
  margin-bottom: 8px;
}

/* =============================== */
/* Projects */
/* =============================== */
.projects__title {
  margin-bottom: 40px;
}
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1440px) {
  .projects__list {
    gap: 11px;
  }
}
.projects__item {
  width: 419px;
}

.project__container {
  margin-top: 90px;
}

.project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  height: 370px;
  padding: 40px;
  background-color: #171717;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .project__wrapper {
    height: 457px;
  }
}

.project__num {
  display: inline-block;
  width: 71px;
  text-align: center;
  padding: 8px 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);
  border-radius: 100px;
  background: #0d0d0d;
}

.project__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--second--color);
}
@media screen and (min-width: 1440px) {
  .project__title {
    font-size: 28px;
  }
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* =============================== */
/* Goodbye */
/* =============================== */
.goodbye__wish {
  display: none;
}
@media screen and (min-width: 1440px) {
  .goodbye__wish {
    display: block;
    margin-bottom: 120px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 70px;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#0d0d0d));
    background: linear-gradient(180deg, #e5e5e5 0%, #0d0d0d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.goodbye__title {
  margin-bottom: 40px;
}
.goodbye__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1440px) {
  .goodbye__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .goodbye__form {
    width: 640px;
  }
}
.goodbye__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #171717;
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .goodbye__photo {
    margin-bottom: 30px;
  }
}
.goodbye__pic {
  border-radius: 10px;
}

.form__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1440px) {
  .form__title {
    display: none;
  }
}

.form__title--destop {
  display: none;
}
@media screen and (min-width: 1440px) {
  .form__title--destop {
    display: block;
    margin-bottom: 50px;
    width: 530px;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--main-color);
  }
}

.enemy-wish {
  margin-bottom: 30px;
  display: block;
}
.enemy-wish__label, .enemy-wish__input {
  display: block;
}
.enemy-wish__label {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 130%;
  color: var(--main-color);
}
.enemy-wish__input {
  width: 100%;
  height: 65px;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: transparent;
  background-color: #0d0d0d;
  font-size: 28px;
  line-height: 130%;
  color: #e5e5e5;
}
@media screen and (min-width: 1440px) {
  .enemy-wish__input {
    width: 595px;
  }
}
.enemy-wish__input:-moz-placeholder-shown {
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.3);
}
.enemy-wish__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.3);
}
.enemy-wish__input:placeholder-shown {
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.3);
}

.form__button {
  margin-top: 30px;
}
@media screen and (min-width: 1440px) {
  .form__button {
    margin-top: 50px;
  }
}

.form__footer {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: var(--main-color);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 1440px) {
  .form__footer {
    padding-top: 23px;
    padding-bottom: 23px;
    margin-top: 96px;
    width: 595px;
    font-size: 21px;
  }
}

/* =============================== */
/* Team */
/* =============================== */
.team__title {
  margin-right: 64px;
  text-align: left;
  width: 264px;
}
@media screen and (min-width: 768px) {
  .team__info {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__about {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0d0d0d));
  background: linear-gradient(180deg, #fff 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1440px) {
  .team__about {
    font-size: 28px;
  }
}
.team__subject {
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .team__subject {
    font-size: 16px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
}
.team__item {
  width: 50%;
  padding: 20px;
  border: 1px solid #252525;
  background-color: #0d0d0d;
}
@media screen and (min-width: 1440px) {
  .team__item {
    width: 320px;
  }
}
.team__item:first-child {
  border-top-left-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .team__item:first-child {
    border-bottom-left-radius: 10px;
  }
}
@media screen and (max-width: 1439.98px) {
  .team__item:nth-child(2) {
    border-top-right-radius: 10px;
  }
}
@media screen and (max-width: 1439.98px) {
  .team__item:nth-child(3) {
    border-bottom-left-radius: 10px;
  }
}
.team__item:last-child {
  border-bottom-right-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .team__item:last-child {
    border-top-right-radius: 10px;
  }
}
.team__pic {
  display: block;
  margin-bottom: 30px;
  border-radius: 12px;
}
.team__name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-color);
}
.team__position {
  font-size: 16px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.7);
}
.team__post {
  display: none;
}
@media screen and (min-width: 1440px) {
  .team__post {
    display: block;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 75px;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#0d0d0d));
    background: linear-gradient(180deg, #e5e5e5 0%, #0d0d0d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

/* Partners */
.partners__list {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
@media screen and (min-width: 1440px) {
  .partners__item {
    width: 180px;
  }
}
.partners__link {
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:hover, .partners__link:focus {
  color: #0a84ff;
}
.partners__title {
  margin-bottom: 40px;
}
.partners__icon {
  width: 135px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .partners__icon {
    width: 180px;
  }
}

/* News */
.news__title {
  margin-bottom: 40px;
}
.news__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .news__item {
    width: 50%;
  }
}
.news__pic-wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 25px;
  background-color: #171717;
  border-radius: 10px;
  overflow: hidden;
}
.news__pic {
  display: block;
  border-radius: 10px;
}
.news__link {
  /* display: block; */
  position: absolute;
  right: 25px;
  top: 373px;
}
.news__date {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}
.news__subject {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1440px) {
  .news__subject {
    font-size: 21px;
  }
}
.news__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* =============================== */
/* Our Projects */
/* =============================== */
.our-projects {
  margin-top: 60px;
}
@media screen and (min-width: 1440px) {
  .our-projects {
    margin-top: 120px;
  }
}

.our-projects__list {
  margin-bottom: 70px;
}

@media screen and (min-width: 1440px) {
  .our-projects__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
  }
}

.our-projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-projects__preview {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 283px;
  background-color: #171717;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .our-projects__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 640px;
    height: 400px;
  }
}

.our-projects__num {
  padding: 8px 16px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #0d0d0d;
  border-radius: 20px;
}

.our-projects__info {
  position: relative;
  padding: 30px 20px;
  background-color: #171717;
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .our-projects__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 640px;
  }
}

.our-projects__status {
  margin-bottom: 10px;
  display: inline-block;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 17px;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
}
@media screen and (min-width: 768px) {
  .our-projects__status {
    position: absolute;
    top: 24px;
    right: 50px;
  }
}

.our-projects__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .our-projects__title {
    font-size: 28px;
  }
}

.our-projects__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.our-projects__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .our-projects__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.our-projects__more {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .our-projects__more {
    margin-right: 30px;
  }
}

/* =============================== */
/* Say goodbye */
/* =============================== */
.say-goodbye__container {
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 1440px) {
  .say-goodbye__container {
    margin-top: 120px;
    padding-right: 434px;
  }
}
.say-goodbye__status {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: var(--second--color);
  border-radius: 17px;
}
@media screen and (min-width: 1440px) {
  .say-goodbye__status {
    margin-bottom: 20px;
  }
}
.say-goodbye__title {
  margin-bottom: 30px;
  text-align: left;
}
@media screen and (min-width: 1440px) {
  .say-goodbye__title {
    margin-bottom: 60px;
  }
}
.say-goodbye__subject {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1440px) {
  .say-goodbye__subject {
    width: 740px;
    font-size: 24px;
  }
}
.say-goodbye__text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1440px) {
  .say-goodbye__text {
    width: 740px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .slider {
    width: 850px;
  }
}
.slider__list {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media screen and (min-width: 1440px) {
  .slider__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.slider__pic {
  border-radius: 10px;
}
.slider-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* Section benefits */
.benefits__title {
  margin-bottom: 40px;
}
.benefits__list {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__item {
  padding: 30px;
  width: 100%;
  background-color: #171717;
}
.benefits__item:not(:last-child) {
  border-right: 1px solid #252525;
}
.benefits__item:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.benefits__item:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.benefits__pic {
  margin-bottom: 20px;
}

/* =============================== */
/* Page News */
/* =============================== */
.page-news__container {
  margin-top: 120px;
}
.page-news-title {
  margin-bottom: 60px;
}
.page-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-news__item {
  margin-bottom: 40px;
  width: 411px;
}
.page-news__photo {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #171717;
  border-radius: 10px;
  overflow: hidden;
}
.page-news__link {
  /* display: block; */
  position: absolute;
  right: 20px;
  bottom: 20px;
  /* top: 373px; */
}
.page-news__data {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}
.page-news__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #e5e5e5;
}
.page-news__more {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* =============================== */
/* Article */
/* =============================== */
.article__container {
  margin-top: 60px;
}
@media screen and (min-width: 1440px) {
  .article__container {
    margin-top: 120px;
  }
}
.article__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .article__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .article__title {
    margin-bottom: 20px;
    line-height: 100%;
    font-size: 50px;
  }
}
.article__data {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}
@media screen and (min-width: 1440px) {
  .article__data {
    margin-bottom: 40px;
  }
}
.article__photo {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #171717;
  border-radius: 10px;
  overflow: hidden;
}
.article__pic {
  height: 200px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 768px) {
  .article__pic {
    height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .article__pic {
    height: 380px;
  }
}
.article .article__body {
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .article .article__body {
    width: 850px;
  }
}
.article__body p {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1440px) {
  .article__body p {
    width: 850px;
  }
}
.article__body img {
  margin-bottom: 40px;
  border-radius: 10px;
}

/* =============================== */
/* 404 */
/* =============================== */
.error-404__container {
  position: relative;
  padding-top: 240px;
}
@media screen and (min-width: 1440px) {
  .error-404__container {
    padding-top: 360px;
  }
}
.error-404__poster {
  width: 144px;
  height: 144px;
  position: absolute;
  top: 55px;
  left: 48%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: rgba(229, 229, 229, 0.05);
  border: 1px dashed #e5e5e5;
  z-index: -1;
}
@media screen and (min-width: 1440px) {
  .error-404__poster {
    width: 298px;
    height: 298px;
    left: 50%;
  }
}
.error-404__title {
  position: absolute;
  top: 70px;
  left: 53.7%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: 600;
  font-size: 97px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 55px;
}
@media screen and (min-width: 1440px) {
  .error-404__title {
    font-size: 207px;
    letter-spacing: 100px;
  }
}
.error-404__ups {
  margin-bottom: 15px;
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .error-404__ups {
    margin-bottom: 40px;
    font-size: 60px;
  }
}
.error-404__sorry {
  display: block;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .error-404__sorry {
    font-size: 22px;
  }
}
.error-404__button {
  width: 260px;
}
.error-404-button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* =============================== */
/* Footer */
/* =============================== */
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
@media screen and (min-width: 1440px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-right: 110px;
    width: 217px;
  }
}
.footer__slogan {
  width: 230px;
  margin-bottom: 30px;
  display: block;
  font-size: 13px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 1440px) {
  .footer__slogan {
    margin-bottom: 0;
    font-size: 16px;
  }
}
.footer__addr-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .footer__addr-support {
    margin-left: auto;
  }
}
.footer__phone {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .footer__phone {
    margin-right: 60px;
  }
}
@media screen and (max-width: 1439.98px) {
  .footer__phone {
    margin-bottom: 20px;
  }
}
.footer__social {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer__button {
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .footer__button {
    margin-left: auto;
    margin-right: 68px;
  }
}
.footer__copyright {
  font-size: 11px;
  line-height: 130%;
  color: #414141;
}
@media screen and (min-width: 1440px) {
  .footer__copyright {
    font-size: 14px;
  }
}
.footer__developed {
  font-size: 11px;
  line-height: 130%;
  color: #414141;
}
@media screen and (min-width: 1440px) {
  .footer__developed {
    font-size: 14px;
  }
}

.navigation__footer {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (max-width: 1439.98px) {
  .navigation__footer {
    margin-bottom: 30px;
  }
}

.navigation__item--footer:not(:last-child) {
  margin-right: 48px;
  margin-bottom: 20px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 1439.98px) {
  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.copyright__container {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link__mas {
  color: var(--button-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__mas:hover, .link__mas:focus {
  color: var(--main-color);
}/*# sourceMappingURL=main.css.map */