:root {
  /* font */
  --font-family: 'SF Pro Display', sans-serif;
  --second-family: 'Inter', sans-serif;

  /* color */
  --main-color: #e5e5e5;
  --second--color: #fff;
  --button-color: #0a84ff;

  /* bg color */
  --page-bg-color: #1e1e1e;
}

body {
  font-family: var(--font-family);
  color: var(--main-color);
  background-color: var(--page-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  padding-left: 80px;
  padding-right: 83px;

  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--second--color);
}

/* ============================== */
/* Buttons */
/* =============================== */

/* Header button */
.header__button {
  position: relative;
  padding: 10px 23px;
  display: inline-block;

  margin-right: 95px;

  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;

  border: 1px solid #fff;
  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 39px;
  height: 39px;
  background-color: #0a84ff;
  background-image: url('../img/donat__ico.svg');
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button:hover,
.header__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.header__button:hover::after {
  background-color: var(--second--color);
}

/* Support button */
.support__button {
  position: relative;
  padding: 20px 50px;
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);

  border: 1px solid #fff;
  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url('../img/support__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.support__button:hover,
.support__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.support__button:hover::after {
  background-color: var(--second--color);
}

/* Send button */
.send__button {
  position: relative;
  padding: 20px 50px;
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);

  border: 1px solid #fff;
  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url('../img/send__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send__button:hover,
.send__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.send__button:hover::after {
  background-color: var(--second--color);
}

/* Support button */
.support__button {
  position: relative;
  padding: 20px 50px;
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);

  border: 1px solid #fff;
  border-radius: 5px;
}

.support__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url('../img/support__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);
}

.support__button:hover,
.support__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.support__button:hover::after {
  background-color: var(--second--color);
}

/* Donat button */
.donat__button {
  position: relative;
  padding: 20px 50px;
  display: inline-block;
  width: 83%;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;

  border: 1px solid #0d0d0d;
  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donat__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url('../img/support__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donat__button:hover,
.donat__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.donat__button:hover::after {
  background-color: var(--second--color);
  border: 1px solid var(--button-color);
}

/* Back button */
.back__button {
  margin-right: 65px;
  position: relative;
  padding: 20px 50px;
  display: block;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);

  border: 1px solid #fff;
  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #0a84ff;
  background-image: url('../img/back__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: translate(110%, -50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back__button:hover,
.back__button:focus {
  color: var(--button-color);
  border-color: var(--button-color);
  background-color: var(--second--color);
}

.back__button:hover::after {
  background-color: var(--second--color);
}

/* More link */
.more__link {
  position: relative;

  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more__link:hover,
.more__link:focus {
  color: var(--button-color);
}

.more__link::after {
  content: '';
  position: absolute;
  left: 110%;
  top: 15%;
  width: 10px;
  height: 10px;
  background-image: url('../img/linc__ico.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* ==================================== */
/* Header */
/* ==================================== */

.header {
  padding-top: 29px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 126px;
}

.logo__icon {
  width: 200px;
  height: 40px;
  fill: var(--second--color);
}

/* navigation */

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 38px;
}

.navigation__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;

  opacity: 0.7;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  opacity: 1;
}

.header__other {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.language-switch {
  position: relative;
  display: flex;
  align-items: center;
}

.language__item:not(:last-child) {
  margin-right: 8px;
}

.language__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
}

.language__link:hover,
.language__link:focus,
.language__link--active {
  color: var(--second--color);
}

/* =============================== */
/* Hero */
/* =============================== */

.hero {
  /* position: relative; */
  padding-top: 140px;

  background-image: url('../img/hero/hero__bg.png');
  background-repeat: no-repeat;
  background-position: right;
}

.hero__container {
  position: relative;
}

.hero__supertitle {
  margin-bottom: 12px;

  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);
}

.hero__title {
  width: 960px;
  margin-bottom: 246px;

  font-weight: 500;
  font-size: 80px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}

.dark__word {
  color: rgba(229, 229, 229, 0.5);
}

.trident {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-color: var(--second--color);
  background-image: url('../img/trident__symbol.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 11px;
}

.hero__social {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socilal__item {
  border: 1px solid rgba(229, 229, 229, 0.1);
  border-radius: 5px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(8px);
  background: rgba(229, 229, 229, 0.1);
}

.social__link {
  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  fill: #0a84ff;
}

.hero__activity {
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 48px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: rgba(229, 229, 229, 0.05);

  border: 1px dashed #e5e5e5;
}

.activity__icon {
  margin-bottom: 32px;
}

.activity__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}

.activity__item:not(:last-child) {
  margin-bottom: 8px;
}

.hero__button {
  margin-bottom: 44px;
}

/* Projects */

.project__container {
  margin-top: 90px;
  margin-bottom: 120px;
}

.projects__title {
  margin-bottom: 40px;
}

.projects__list {
  display: flex;
  gap: 11px;
}

.projects__item {
  width: 419px;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 40px;

  height: 457px;
  padding: 40px;
  background-color: #171717;
  border-radius: 10px;
}

.project__num {
  display: inline-block;
  padding: 8px 19px;

  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--second--color);

  border-radius: 100px;
  background: #0d0d0d;
}

.project__title {
  /* margin-bottom: 40px; */

  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--second--color);
}

.project__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Goodbye */

.goodbye__wish {
  margin-bottom: 120px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 70px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #e5e5e5 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goodbye__title {
  margin-bottom: 40px;
}

.goodbye__container {
  margin-bottom: 120px;
}

.goodby__wrapper {
  display: flex;
}

.goodbye__form {
  width: 640px;
}

.form__title {
  margin-bottom: 50px;
  width: 530px;

  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--main-color);
}

.enemy-wish,
.enemy-wish__label,
.enemy-wish__input {
  display: block;
}

.enemy-wish {
  margin-bottom: 30px;
}

.enemy-wish__label {
  margin-bottom: 15px;

  font-size: 21px;
  line-height: 130%;
  color: var(--main-color);
}

.enemy-wish__input {
  width: 595px;
  height: 65px;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: transparent;
  background-color: #0d0d0d;

  font-size: 28px;
  line-height: 130%;
  color: #e5e5e5;
}

.enemy-wish__input:placeholder-shown {
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.3);
}

.form__button {
  margin-top: 50px;
}

.goodbye__photo {
  padding: 20px;

  background-color: #171717;
  border-radius: 10px;
}

.goodbye__pic {
  border-radius: 10px;
}

.form__footer {
  margin-top: 96px;
  width: 595px;
  padding-top: 23px;
  padding-bottom: 23px;

  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  color: var(--main-color);

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Team */

.team__container {
  margin-bottom: 120px;
}

.team__title {
  margin-right: 64px;

  text-align: left;
  width: 264px;
}

.team__info {
  margin-bottom: 50px;
  display: flex;
}

.team__about {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  background: linear-gradient(180deg, #fff 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__subject {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.team__list {
  display: flex;
  margin-bottom: 120px;
}

.team__item {
  padding: 20px;

  border: 1px solid #252525;
  background-color: #0d0d0d;
}

.team__item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.team__item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.team__pic {
  display: block;
  margin-bottom: 30px;

  border-radius: 12px;
}

.team__name {
  margin-bottom: 4px;

  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-color);
}

.team__position {
  font-size: 16px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.7);
}

.team__post {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 75px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #e5e5e5 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* Partners */

.partners__container {
  margin-bottom: 120px;
}

.partners__list {
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partners__link {
  color: rgba(255, 255, 255, 0.4);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover,
.partners__link:focus {
  color: #0a84ff;
}

.partners__title {
  margin-bottom: 40px;
}

.parnters__icon {
  fill: currentColor;
}

/* News */

.news {
  margin-bottom: 120px;
}

.news__title {
  margin-bottom: 40px;
}

.news__list {
  margin-bottom: 60px;
  display: flex;
  gap: 10px;
}

.news__item {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.news__pic-wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 25px;

  background-color: #171717;
  border-radius: 10px;

  overflow: hidden;
}

.news__pic {
  display: block;

  border-radius: 10px;
}

.corner {
  position: absolute;
  right: -26px;
  top: 264px;
  width: 116px;
  height: 257px;

  background: #171717;

  transform: rotate(45deg);
}

.news__link {
  /* display: block; */
  position: absolute;
  right: 25px;
  top: 373px;
}

.news__date {
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}

.news__subject {
  flex-grow: 1;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-color);
}

.news__more {
  display: flex;
  justify-content: center;
}

/* =============================== */
/* Our Projects */
/* =============================== */

.our-projects__list {
  margin-bottom: 80px;
}

.our-projects__item {
  display: flex;
  width: 1280px;
  height: 400px;

  background-color: #171717;
  border-radius: 10px;
}

.our-projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-projects__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 640px;
}

.our-project__num {
  position: absolute;
  left: 50px;
  top: 50px;
  display: inline-block;
  padding: 8px 16px;

  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;

  background-color: #0d0d0d;
  border-radius: 10px;
}

.our-projects__info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 640px;
  padding: 50px;
}

.our-projects__status {
  position: absolute;
  top: 50px;
  right: 50px;
  display: inline-block;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: #fff;
  border-radius: 10px;
}

.our-projects__title {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.our-projects__text {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.our-projects__navigation {
  /* outline: 1px solid red; */
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.our-projects__more {
  margin-right: 20px;
}

/* =============================== */
/* Say goodbye */
/* =============================== */

/* Donat Form */

.form__donation {
  position: absolute;
  top: 0;
  right: 0;
}

.collected {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 30px 16px 30px;
  width: 411px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background-color: #0d0d0d;
}

.collected__title {
  display: inline-block;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--main-color);
}

.collected__sum {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: var(--main-color);
}

.collected__fire {
  margin-right: 10px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background-color: var(--second--color);
  background-image: url('../img/fire.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.slider-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}

.slider-navigation__link:hover {
  color: var(--second--color);
}

.slider-navgation__icon {
  fill: currentColor;
}

.donation__form {
  padding: 30px;
  display: block;
  width: 410px;
  height: 327px;
  background-color: var(--main-color);
  border-radius: 10px;
}

.donation__label {
  margin-bottom: 40px;
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #0d0d0d;
}

.donation__input,
.currency-select {
  display: inline-block;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(13, 13, 13, 0.2);
}

.donation__input {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  outline: none;
  border: none;

  font-size: 24px;
  line-height: 130%;
  color: #0d0d0d;
}

.currency-select {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: transparent;
  border: none;
}

.currency-select--option {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: transparent;
  border: none;
}

/* Donat buttons */

.donation-amounts {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.donut-button {
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(13, 13, 13, 0.5);
  border-radius: 25px;
  border: 1px solid rgba(13, 13, 13, 0.5);
  outline: transparent;
  background-color: transparent;
}

.donut-button:hover {
  color: var(--main-color);
  background-color: #0d0d0d;
}

.donut-uah {
  font-size: 15px;
}

/* Section Goodbye */

.say-goodbye__container {
  position: relative;
  margin-bottom: 120px;
  margin-top: 120px;
  padding-right: 434px;
}

.say-goodbye__status {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;
  background-color: var(--second--color);
  border-radius: 17px;
}

.say-goodbye__title {
  margin-bottom: 60px;
  text-align: left;
}

.say-goodbye__subject {
  margin-bottom: 30px;
  width: 740px;

  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.say-goodbye__text {
  margin-bottom: 40px;
  width: 740px;

  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.slider {
  width: 850px;
}

.slider__list {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.slider__pic {
  border-radius: 10px;
}

.slider-navigation__list {
  display: flex;
  gap: 10px;
  justify-content: end;
}

/* Section benefits */

.benefits__container {
  margin-bottom: 120px;
}

.benefits__title {
  margin-bottom: 40px;
}

.benefits__list {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  padding: 30px;
  width: 100%;
  background-color: #171717;
}

.benefits__item:not(:last-child) {
  border-right: 1px solid #252525;
}

.benefits__item:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.benefits__item:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.benefits__pic {
  margin-bottom: 20px;
}

/* =============================== */
/* Page News */
/* =============================== */

.page-news__container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.page-news-title {
  margin-bottom: 60px;
}

.page-news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-news__item {
  margin-bottom: 40px;
  width: 411px;
}

.page-news__photo {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  margin-bottom: 20px;

  background-color: #171717;
  border-radius: 10px;

  overflow: hidden;
}

.news-corner {
  /* outline: 1px solid red; */
  position: absolute;
  right: -26px;
  /* top: 264px; */
  bottom: -127px;
  width: 116px;
  height: 257px;

  background: #171717;

  transform: rotate(45deg);
}

.page-news__link {
  /* display: block; */
  position: absolute;
  right: 20px;
  bottom: 20px;
  /* top: 373px; */
}

.page-news__data {
  margin-bottom: 10px;

  font-size: 13px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}

.page-news__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #e5e5e5;
}

.page-news__more {
  margin-bottom: 120px;

  display: flex;
  justify-content: center;
}

/* =============================== */
/* Article */
/* =============================== */

.article__container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.article__title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

.article__data {
  display: block;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.5);
}

.article__photo {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #171717;
  border-radius: 10px;
}
.article__pic {
  border-radius: 10px;
}

.article__body {
  margin-bottom: 120px;

  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.article__body p {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.article__body img {
  margin-bottom: 40px;

  border-radius: 10px;
}

/* =============================== */
/* 404 */
/* =============================== */

.error-404__container {
  margin-bottom: 120px;
  position: relative;
  padding-top: 360px;
}

.error-404__poster {
  width: 298px;
  height: 298px;

  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);

  border-radius: 50%;
  background-color: rgba(229, 229, 229, 0.05);

  border: 1px dashed #e5e5e5;

  z-index: -1;
}

.error-404__title {
  position: absolute;
  top: 70px;
  left: 53.7%;
  transform: translate(-50%, 0);

  font-weight: 600;
  font-size: 207px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 100px;
}

.error-404__ups {
  margin-bottom: 40px;
  display: block;

  font-weight: 600;
  font-size: 60px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.error-404__sorry {
  display: block;
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.error-404__button {
  width: 260px;
}

.error-button__wrapper {
  display: flex;
  justify-content: center;
}

/* =============================== */
/* Footer */
/* =============================== */

.footer__container {
  display: flex;
  margin-bottom: 50px;
}

.footer__logo {
  margin-right: 110px;
  width: 217px;
}

.logo {
  display: block;
  margin-bottom: 54px;
}

.footer__slogan {
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

.navigation__footer {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* gap: 40px; */
}

.navigation__item--footer:not(:last-child) {
  margin-right: 48px;
  margin-bottom: 20px;
}

.footer__addr-support {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;

  margin-bottom: 40px;
}

.footer__phone {
  margin-right: 60px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}

.footer__social {
  margin-top: 0;
  display: flex;
  gap: 12px;
}

.footer__button {
  margin-left: auto;
  margin-right: 68px;
}

.copyright__container {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  line-height: 130%;
  color: #414141;
}

.footer__developed {
  font-size: 14px;
  line-height: 130%;
  color: #414141;
}

.link__mas {
  color: var(--button-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__mas:hover,
.link__mas:focus {
  color: var(--main-color);
}

/* =============================== */
/* Modal window */
/* =============================== */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(13, 13, 13, 0.6);
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 423px;
  height: 298px;

  border-radius: 10px;
  border: 1px solid #888;
  background-color: #171717;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 8px;
  color: #aaa;
  font-size: 35px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__pic {
  margin-top: 60px;
  margin-bottom: 34px;
  display: block;
  width: 61px;
  height: 61px;

  background-color: #0a84ff;
  background-image: url('../img/donat__ico.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.modal__title {
  display: block;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #e5e5e5;
}

.modal__text {
  /* width: 303px; */
  display: block;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #e5e5e5;
}
