:root {
  /* font */
  --font-family: 'SF Pro Display', sans-serif;
  --second-family: 'Inter', sans-serif;

  /* color */
  --main-color: #e5e5e5;
  --second--color: #fff;
  --button-color: #0a84ff;

  /* bg color */
  --page-bg-color: #1e1e1e;
}
