/* =============================== */
/* Team */
/* =============================== */

.team__container {
  margin-bottom: 120px;
}

.team__title {
  margin-right: 64px;

  text-align: left;
  width: 264px;
}

.team__info {
  margin-bottom: 50px;
  display: flex;
}

.team__about {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  background: linear-gradient(180deg, #fff 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__subject {
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.team__list {
  display: flex;
  margin-bottom: 120px;
}

.team__item {
  padding: 20px;

  border: 1px solid #252525;
  background-color: #0d0d0d;
}

.team__item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.team__item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.team__pic {
  display: block;
  margin-bottom: 30px;

  border-radius: 12px;
}

.team__name {
  margin-bottom: 4px;

  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--main-color);
}

.team__position {
  font-size: 16px;
  line-height: 140%;
  color: rgba(229, 229, 229, 0.7);
}

.team__post {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 75px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #e5e5e5 0%, #0d0d0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
