.language-switch {
  position: relative;
  display: flex;
  align-items: center;
}

.language__item:not(:last-child) {
  margin-right: 8px;
}

.language__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);

  &:hover,
  &:focus,
  &--active {
    color: var(--second--color);
  }
}
