.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  z-index: 1000;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
}

.full-screen-menu.active {
  display: flex;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-language {
  margin-top: 105px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
}

.mobile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-navigation {
  display: flex;
  justify-content: center;
}

.mobile-navigation__list {
  margin-bottom: 70px;
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 38px;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.mobile__donat {
  display: flex;
  justify-content: center;
}

.mobile__button {
  margin-bottom: 80px;
  margin-right: 0;
}

.mobile__donat .header__button {
  margin-right: 0;
}

.mobile-social {
  margin-bottom: 20px;
  justify-content: center;
}
