.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  z-index: 1000;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
}

.full-screen-menu.active {
  display: flex;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobile-language {
  margin-top: 105px;
  display: flex;
  justify-content: center;
}

.mobile__button {
  margin-bottom: 40px;
}

.mobile-social {
  margin-bottom: 20px;
}
