.trident {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-color: var(--second--color);
  background-image: url('../img/trident__symbol.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 11px;
}
