.container {
  padding-left: 16px;
  padding-right: 16px;

  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 448px;
  }

  @include mq(tablet) {
    padding-left: 21px;
    padding-right: 21px;
    width: 720px;
  }

  @include mq(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    width: 1440px;
  }
}
