/* =============================== */
/* Article */
/* =============================== */

.article {
  &__container {
    margin-top: 60px;

    @include mq(desktop) {
      margin-top: 120px;
    }
  }

  &__title {
    margin-bottom: 15px;

    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    text-align: left;

    @include mq(tablet) {
      font-size: 32px;
    }

    @include mq(desktop) {
      margin-bottom: 20px;
      line-height: 100%;
      font-size: 50px;
    }
  }

  &__data {
    display: block;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 140%;
    color: rgba(229, 229, 229, 0.5);

    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }

  &__photo {
    padding: 20px;
    margin-bottom: 60px;
    background-color: #171717;
    border-radius: 10px;

    overflow: hidden;
  }

  &__pic {
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

    @include mq(tablet) {
      height: 300px;
    }

    @include mq(desktop) {
      height: 380px;
    }
  }

  .article__body {
    margin-bottom: 120px;

    margin-left: auto;
    margin-right: auto;

    @include mq(desktop) {
      width: 850px;
    }
  }

  &__body p {
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);

    @include mq(desktop) {
      width: 850px;
    }
  }

  &__body img {
    margin-bottom: 40px;

    border-radius: 10px;
  }
}
