/* Section benefits */

.benefits {
  &__container {
    // margin-bottom: 120px;
  }

  &__title {
    margin-bottom: 30px;

    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }

  &__list {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(desktop) {
      margin-bottom: 120px;
    }
  }

  &__item {
    padding: 30px;
    width: 50%;

    background-color: #171717;

    border: 1px solid #252525;

    @include mq(desktop) {
      width: 25%;
    }

    // &:not(:last-child) {
    //   border-right: 1px solid #252525;
    // }

    &:first-child {
      border-top-left-radius: 20px;

      @include mq(desktop) {
        border-bottom-left-radius: 20px;
      }
    }

    &:nth-child(2) {
      @include mq(not-desktop) {
        border-top-right-radius: 20px;
      }
    }

    &:nth-child(3) {
      @include mq(not-desktop) {
        border-bottom-left-radius: 20px;
      }
    }

    &:last-child {
      border-bottom-right-radius: 20px;

      @include mq(desktop) {
        border-top-right-radius: 20px;
      }
    }
  }

  &__pic {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 15px;
    line-height: 130%;
    color: #e5e5e5;

    @include mq(desktop) {
      font-size: 16px;
    }
  }
}
