/* =============================== */
/* Footer */
/* =============================== */

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include mq(media-desktop) {
      flex-direction: row;
    }
  }

  &__logo {
    @include mq(media-desktop) {
      margin-right: 110px;
      width: 217px;
    }
  }

  &__slogan {
    width: 230px;
    margin-bottom: 30px;
    display: block;
    font-size: 13px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);

    @include mq(media-desktop) {
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  &__addr-support {
    display: flex;
    flex-direction: column;

    @include mq(media-desktop) {
      margin-left: auto;
    }
  }

  &__phone {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;

    @include mq(desktop) {
      margin-right: 60px;
    }

    @include mq(not-desktop) {
      margin-bottom: 20px;
    }
  }

  &__social {
    margin-top: 0;
    display: flex;
    gap: 12px;
  }

  &__button {
    margin-right: auto;

    @include mq(desktop) {
      margin-left: auto;
      margin-right: 68px;
    }
  }

  &__copyright {
    font-size: 11px;
    line-height: 130%;
    color: #414141;

    @include mq(desktop) {
      font-size: 14px;
    }
  }

  &__developed {
    font-size: 11px;
    line-height: 130%;
    color: #414141;

    @include mq(desktop) {
      font-size: 14px;
    }
  }
}

.navigation__footer {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  @include mq(not-desktop) {
    margin-bottom: 30px;
  }
}

.navigation__item--footer:not(:last-child) {
  margin-right: 48px;
  margin-bottom: 20px;
}

.address {
  display: flex;

  margin-bottom: 40px;

  @include mq(not-desktop) {
    flex-direction: column;
  }
}

.copyright__container {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.link__mas {
  color: var(--button-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-color);
  }
}
