/* ==================================== */
/* Header */
/* ==================================== */

.header {
  padding-top: 29px;

  &-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    margin-right: 126px;
  }

  &__other {
    display: none;
    @include mq(desktop) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

.logo__icon {
  width: 166px;
  height: 34px;
  fill: var(--second--color);

  @include mq(desktop) {
    width: 200px;
    height: 40px;
  }
}

/* navigation */

.navigation {
  &__list {
    display: none;
    @include mq(desktop) {
      display: flex;
    }
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 38px;
  }
}

.navigation__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;

  opacity: 0.7;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__link:hover,
  &__link:focus {
    opacity: 1;
  }
}

.menu-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: block;

  color: #fff;

  @include mq(desktop) {
    display: none;
  }

  &:hover {
    color: #0a84ff;
  }
}

.menu__icon {
  fill: currentColor;
}
