/* =============================== */
/* Our Projects */
/* =============================== */

.our-projects {
  margin-top: 60px;
  @include mq(desktop) {
    margin-top: 120px;
  }
}

.our-projects__list {
  margin-bottom: 70px;
}

.our-projects__item {
  @include mq(desktop) {
    display: flex;
    height: 400px;
  }
}

.our-projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-projects__preview {
  padding: 35px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 283px;

  background-color: #171717;
  border-radius: 10px;

  @include mq(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 400px;
  }
}

.our-projects__num {
  padding: 8px 16px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;

  background-color: #0d0d0d;
  border-radius: 20px;
}

.our-projects__pic {
}

.our-projects__info {
  position: relative;
  padding: 30px 20px;

  background-color: #171717;
  border-radius: 10px;

  @include mq(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 640px;
  }
}

.our-projects__status {
  margin-bottom: 10px;
  display: inline-block;
  padding: 8px 10px;

  background-color: #fff;
  border-radius: 17px;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #0d0d0d;

  @include mq(tablet) {
    position: absolute;
    top: 24px;
    right: 50px;
  }
}

.our-projects__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;

  @include mq(desktop) {
    font-size: 28px;
  }
}

.our-projects__text {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}

.our-projects__navigation {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.our-projects__more {
  margin-bottom: 30px;

  @include mq(tablet) {
    margin-right: 30px;
  }
}
