/* =============================== */
/* Say goodbye */
/* =============================== */

.say-goodbye {
  &__container {
    position: relative;
    // margin-bottom: 120px;
    margin-top: 120px;
    padding-right: 434px;
  }

  &__status {
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 130%;
    text-transform: uppercase;
    color: #0d0d0d;
    background-color: var(--second--color);
    border-radius: 17px;
  }

  &__title {
    margin-bottom: 60px;
    text-align: left;
  }

  &__subject {
    margin-bottom: 30px;
    width: 740px;

    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
  }

  &__text {
    margin-bottom: 40px;
    width: 740px;

    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
  }
}

.slider {
  width: 850px;

  &__list {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__pic {
    border-radius: 10px;
  }

  &-navigation__list {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
}
